target/
!.mvn/wrapper/maven-wrapper.jar

build/
!.gradle/
!gradlew
!gradlew.bat

log/
.DS_Store
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
